nav{
    width: 100dvw;
    height: 4rem;

    position: fixed;
    top: 0;
    box-sizing: border-box;
    border-top: 4px solid green;

    transition: all 0.5s;
    background-color: whitesmoke;
    z-index: 99;
    display: flex;
    align-items: center;
}

.bg-transparent{
    top: -4rem;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    list-style-type: none;
    padding: 0 2rem;
    font-stretch: expanded;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav div{
    display: inherit;
    gap: 1rem;
}